<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stakan file statistics</title>
</head>
<body>
    <h1>Stakan file statistics</h1>
    <p>Last Indexed Time: {{ last_indexed_time }}</p>
    <p>Total Files Count: {{ total_files_count }}</p>
    <p><a href="/extensions_statistics">Extensions Statistics</a></p>
    <p><a href="/top_10_size_statistics">Top 10 Size Statistics</a></p>
</body>
</html>
